body {
    background-color: black;
    margin-left: 20%;
}

.headText {
    color: white;
    font-size: 80px;
    height: 30%;
    width: 100%;
    padding-top: 20%;
}

input[type=text], input[type=text]:focus, input[type=password], input[type=password]:focus {
    height: 100px;
    width: 80%;
    padding-left: 70px;
    padding-bottom: 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 40px;
    color: white;
    background-color: black;
    outline: 0;
    margin-top: 60px;
}

#loginButton {
    background-color: grey;
    color: white;
    border-radius: 80px;
    height: 100px;
    width: 80%;
    margin-top: 60px;
    font-size: 40px;
}

.row {
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
    color: white;
    width: 100%;
}

.input-icon{
    position: absolute;
    left: 3px;
    top: calc(50% - 0.5em);
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }

  .icon-right{
    position: absolute;
    right: 25%;
    top: calc(50% - 0.4em);
    color: grey;
  }

  .white-background {
    color: white;
  }